 body{
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar{
    height: 85px;
    width: 100vw;
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-block{
    height: 100%;
    width: 30%;
    display: flex;
    list-style: none;
    margin-right: 0;
    margin-left: auto;
    margin-top:0;
    align-items: center;
    justify-content: center;    
}

.nav-item{
    width: 40px;
    padding: 30px;
    justify-content: center;
}

.nav-item:hover{
    cursor: pointer;
}

.nav-item h3{
    font-family: 'Fjalla One', sans-serif;
    color: white;
}


.section{
    color: white;
    width: 100%; 
    height: 100vh;
    background-size: cover;
}

.content{
    align-items: center;
}

.quemvota{
    justify-content: center;
    display: flex;
    background-repeat: no-repeat;
    background-image: url("popu.jpg");
    
}

.quemvota h1{
    color:white;
    margin-top:15%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 150px;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width:1px;
}

.quemvota p{
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    margin-top: -110px;
    text-align: center;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width:1px;
}

.quemvota button{
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    height: 70px;
    width: 200px;
    border-radius: 30px;
    margin-left: 37%;
}

.first{
    background-color: white;
    display: flex;
    background-image:url("bla.jpg");
}

.candidato{
    padding-top:50px;
    border-radius: 30px;
    background-color: grey;
    width: 350px;
    height: 70%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.8);
}
 .candidato img{
     margin-left:35%;
     border-radius: 100%;
 }

 .candidato h1,p{
     margin-left: 20px;
     margin-right: 20px;
     text-align: center;
     font-family: 'M PLUS Rounded 1c', sans-serif;
 }

#elenao{
    height: 100vh;
    background: linear-gradient(red, rgba(255, 0, 0, 0));
} 